---
interface Props {
  lab: {
    name: string;
    descripcion: string;
    urlDemo: string;
    urlRepo: string;
    imgUrl: string;
  };
}
const { lab } = Astro.props;
---

<div class="container-lab">
  <div class="titulos-lab">
    <h1>{lab.name}</h1>
    <h2>{lab.descripcion}</h2>
    <div class="btn-lab">
      <a class="btn btn-azul-lab" href={lab.urlDemo}>Ver demo</a>
      <a class="btn btn-gris-lab" href={lab.urlRepo}>Repo</a>
    </div>
  </div>
  <div class="box-img">
    <img src={lab.imgUrl} alt="" />
  </div>
</div>

<style>
  .container-lab {
    background-color: var(--color-secundario);
    font-family: var(--fuente-principal);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow:
      20px 20px 60px #bebebe,
      -20px -20px 60px #ffffff;
  }
  .container-lab:hover {
    transform: scale(1.01);
  }
  .box-img {
    padding-top: 20px;
    width: 100%;
    
  }
  .box-img img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  .titulos-lab h1 {
    font-size: 36px;
    padding-bottom: 10px;
  }
  .titulos-lab h2 {
    font-size: 20px;
    padding-bottom: 15px;
  }
  .btn-lab {

    display: flex;
    gap: 20px;
  }
  .btn {
    font-weight: 300;
    font-size: 16px;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
  }

  .btn-azul-lab {
    background-color: var(--color-primario);
  }
  .btn-gris-lab {
    background-color: var(--color-terciario);
  }

  @media (min-width: 700px) {
    .container-lab {
      width: 1165px;
      height: 416px;
      display: flex;
      flex-direction: row;
    }

    .box-img {
      width: 50%;
    }

    .box-img img {
      height: 376px;
    }
    .titulos-lab {
      padding-bottom: 180px;
      padding-left: 30px;
    }

  }
</style>
